#tabella-principale {
    width: 100%;
    border: 1px solid blue;
}

th {
    background-color: lightgray;
    padding: 5px;
}

td {
    background-color: lightgreen;
    padding: 5px;
}

.larghezza-50 {
    width: 50%;
    height: 50px;
}