﻿@model ASPCORE_Lez1_HelloWorld.Models.Messaggio

<h1>@Model.Corpo</h1>
<h3>@ViewBag.Sottotitolo</h3>

<form asp-controller="Home" asp-action="Index" method="post">

    <label >Inserisci un messaggio</label>
    <input type="text" asp-for="Corpo" />

    <button type="submit">Invia</button>
</form>

<script>
    function saluta() {
        alert("CIAO GIOVANNI");
    }
</script>
<button type="button" onclick="saluta()">Cliccami</button>