﻿@model List<ASPCORE_Lez3_Ibrido.Models.Studente>

@{ 
    string titolo = "Lista Studenti";
}

<h1>@titolo</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Matricola</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nome</td>
                    <td>@item.Cognome</td>
                    <td>@item.Matricola</td>
                </tr>
            }
    </tbody>
</table>