﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Pagina2.aspx.cs" Inherits="Test_WebForm_1.WebForm1"  MasterPageFile="~/Site.Master" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <asp:Label ID="lblRisultato" Text="Non ho nessun valore" runat="server"></asp:Label>

</asp:Content>