﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Test.aspx.cs" Inherits="Test_WebForm_1.Test" %>
<% 
//TextBox1.Text = "CICCIOPASTICIO";      
%>
<%--<asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>--%>

    <div class="row">
        <div class="col">

            <div class="form-group">
                <label for="varNome">Nome</label>
                <asp:TextBox ID="varNome" class="form-control" runat="server"></asp:TextBox>
            </div>

        </div>
    </div>
