.tabella-struttura{
    width: 100%;
    border: 1px solid;
}

/* td {
    background-color: lightblue;
} */

.intestazione {
    text-align: center;
}

.colonna-menu{
    width: 33%;
}

.piedipagina {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo{
    height: 75px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.padding-contorno{
    padding: 20px;
}

p {
    text-align: justify;
}

.tabella-contenuto{
    width: 100%;
}

.tabella-contenuto td{
    padding: 20px;
}

.piena-larghezza{
    width: 100%;
}