﻿@model ASPCORE_Lez4_Impiegati.Models.Impiegato
@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col">

        <form asp-controller="Impiegato" asp-action="Modifica" method="post">
            <div class="form-group">
                <label asp-for="Nome">Nome:</label>
                <input type="text" asp-for="Nome" placeholder="Inserisci il valore" class="form-control" />
                <span asp-validation-for="Nome"></span>
            </div>

            <div class="form-group">
                <label asp-for="Cognome">Cognome:</label>
                <input type="text" asp-for="Cognome" placeholder="Inserisci il valore" class="form-control" />
                <span asp-validation-for="Cognome"></span>
            </div>

            <div class="form-group">
                <label asp-for="Titolo">Titolo:</label>
                <input type="text" asp-for="Titolo" placeholder="Inserisci il valore" class="form-control" />
                <span asp-validation-for="Titolo"></span>
            </div>

            <div class="form-group">
                <label>Città:</label>
                <select class="form-control" asp-for="Citta" asp-items="@ViewBag.Citta">
                    <option value="">Seleziona la Cittò</option>
                </select>

                <span asp-validation-for="Citta"></span>
            </div>

            <button type="submit" class="btn btn-block">Modifica</button>
        </form>

    </div>
</div>